auto_mix_prep==0.2.0
loguru==0.7.2
black==24.4.2
flake8==7.0.0
isort==5.13.2
matplotlib==3.9.1
pandas==2.2.2
Pillow==10.4.0
python-dotenv==1.0.1
torch==2.3.1+cu121
torchvision==0.18.1+cu121
tqdm==4.66.4
typer==0.12.3
